@keyframes changeBox {
    0% {background-color: red;}
    25% {background-color: gray; width: 300px;}
    50% {background-color: yellow; width: 400px;}
    90% {background-color: blue; width: 150px;}
    100% {background-color: red;}

}



.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    animation-name: changeBox;
    animation-duration: 5s;
    animation-delay: 2s;
    /* animation-iteration-count: infinite; */
    animation-direction: alternate;
    animation-fill-mode: both;

}