body {
    text-align: center;
}

.btn {
    width: 75px;
    height: 50px;
    border: 1px solid gray;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
    box-shadow: 1px 1px 1px gray;
    transition: all;
    transition-duration: 200ms;



}

.btn:hover {
    background-color: blue;
    width: 80px;
    font-size: 1em;
    box-shadow: 3px 3px 3px rgb(180, 167, 167);
    

}